//Colors
    //Brand
        $brandPrimaryColor:#9F2BAC;
        $brandSecondaryColor:#F8B514;
        $brandThirdColor:#34312B;
    //Neutral
        $neutralDarkColor:#000000;
        $neutralDarkGrayColor:#4B494A;
        $neutralLightGrayColor:#98969B;
        $neutralLightColor:#ffffff;
    //Status
        $successColor:#8DC640;
        $warningColor:#FBD43C;
        $focusColor:#F60165;
        $dangerColor:#FF0000;
        $infoColor:#2AC4CA;
    //Linear
        $linearPS: linear-gradient(180deg, rgba(159, 43, 172, 0.432) 0%, rgba(248,181,20,1) 100%);
        $linearSP: linear-gradient(0deg, rgba(159,43,172,1) 0%, rgba(248,181,20,1) 100%);